.search-container {
    background-image: url('../../../../assets/wallpapersden.com_star-wars-the-clone-wars-4k_2560x1440.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;
}