<div class="movies-container">
    <div class="section-header">
        <h1 class="section-title"><mat-icon aria-hidden="false" aria-label="Example home icon" class="whatshot-icon">whatshot</mat-icon> Popular Movies</h1>
        <div class="rank-filter">
            <h3 class="filter-text">Filter by ranking</h3>
            <app-stars-filter></app-stars-filter>
        </div>
    </div>
    <ng-container *ngIf="(genresList | async)?.genres as genres">
        <div class="no-movies-container">
            <p class="no-movies" *ngIf="(moviesList | async).length === 0">
                Oops! There are no movies for the selected filter 
            </p>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-icon"> sentiment_dissatisfied </mat-icon>
        </div>
        <mat-grid-list cols="5" rowHeight="1:2" gutterSize="12" >
            <mat-grid-tile *ngFor="let movie of (moviesList | async) as movies">
                <app-movie-card [movie]="movie" [genres]="genres"></app-movie-card>
            </mat-grid-tile>
        </mat-grid-list> {{genres.length}}
    </ng-container >    
</div>